doctype html
html(lang="en", class="js")
  head
    title= UploadFiles
    style
      include ../css/upload.css
    script
      include ../js/jquery-3.1.0.min.js
    script.
      window.fileNameIndex = !{JSON.stringify(fileNameIndex)};
  body
    img(src="http://localhost:3033/getbyid/57abc84f9a1e48163c359a4c")
    div(class="container", role="main")
      h1 Storj Link Upload
      form(class="box", method="post", action="http://localhost:3033/upload/", enctype="multipart/x-www-form-urlencoded")
        div(class="box__input")
          input(class="box__file", type="file", name="files[]", id="file", data-multiple-caption="{count}, files selected" multiple)
          label(for="file")
            strong
              p
                | Choose a file
            span(class="box__dragndrop")
              p
                | or drag it here
          button(class="box__button", type="submit")
            p
              | Upload
        div(class="box__uploading")
          p
            | Uploading&hellip;
        div(class="box__success")
          p
            | Done!
        div(class="box__error")
          p
            | Error
          span
          p
            | .
      div(class="box__files")
        if fileNameIndex
          each data, fileName in fileNameIndex
            li= fileName + ': Get by: '
              | [
              a(href="http://localhost:3033/getbyid/"+data.id) ID
              | ] [
              a(href="http://localhost:3033/getbyname/"+fileName) NAME
              | ]

    script
      include ../js/bundle.js
